* {	font-family: 'Open Sans', sans-serif; }

html, body { height: 100%; }

.green { color: #3B3; }
.blue { color: #09E; }

h1, h2 { margin-bottom: 20px;font-size: 50px; }
.container {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}
.left-container {
	display: table-cell;
	float: none;
	width: 30%;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 0;
}
.right-container {
	display: table-cell;
	float: none;
	width: 70%;
	padding-bottom: 20px;
	padding-left: 0;
	padding-right: 30px;
	vertical-align: top;
}
.black-bg {
	color: white;
	background-color: black;
}
.white-bg {	background-color: white; }
.left-inner-container { 
	margin-top: 50px;
	margin-right: 30px;
	text-align:center; }
.right-inner-container {
	margin-top: 50px;
	margin-left: 30px;
	text-align:center;
}
.header {
	clear: both;
	font-size: 60px;
	margin-top: 0;
}
.logo-left { 
		text-align: right;
		margin-top: 30px;
		margin-bottom: 30px;
}
.logo-right {
	text-align: left;
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-ad {
	background: #ffffff;
	color: #000000;
	height: 70px;
	margin: 15px 30px;
	padding: 25px 80px;
	position:center;
    transition: .2s ease;
	min-width: 260px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.btn-ad:hover
{
background-color:#000;
color: #fff;
}
.btn-space
{
	margin-top: 30px;
	border-radius: 10px;
}

.btn-test {
	background: #000;
	color: #fff;
	height: 100px;
    transition: .2s ease;
    margin: 15px 30px;
    padding: 25px 80px;
	min-width: 260px;
	line-height: 24px;
	font-size: 50px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.btn-test:hover
{
background-color:#fff;
color: #000;
}

.btn-login{
	background: #823aa0;
	border-radius: 10px;
	color: #fff;
	height: 70px;
	text-align: justify-all;
	margin: 15px 30px;
	padding: 25px 80px;
    transition: .2s ease;
	font-size: 20px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.btn-login:hover
{
background-color:#fff;
color: #823aa0;
}
.btn-table1 {
	background: #ffffff;
	color: #000000;
	text-align: center;
	height: 50px;
	width: 50px;
    transition: .2s ease;
	font-size: 10px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.btn-table1:hover
{
background-color:#000;
color: #fff;
}
.btn-table2 {
	background: #228b22;
	color: #fff;
	text-align: center;
	height: 30px;
	width: 60px;
    transition: .2s ease;
	font-size: 10px;
	font-style: bold;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.btn-table2:hover
{
background-color:#fff;
color: #228b22;
}
.btn-table3 {
	background: #ff0000;
	color: #fff;
	text-align: center;
	height: 30px;
	width: 60px;
	border-radius: 10px;
    transition: .2s ease;
	font-size: 10px;
	font-style: bold;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.btn-table3:hover
{
background-color:#fff;
color: #ff0000;
}

.btn-table4 {
	background: #ffffff;
	color: #000000;
	text-align: center;
	height: 50px;
	width: 90px;
    transition: .2s ease;
	font-size: 10px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.btn-table4:hover
{
background-color:#000;
color: #fff;
}

p
{
	padding: 20px;
	text-align: justify-all;
}
.p-right
{
	color: #000;
}
.p-left
{
	color: #fff;
}
.p-small
{
	font-size: 20px;
}
.p-med
{
	font-size: 30px;
}
.p-big
{
	font-size: 40px;
}
.p-bottom
{
	border-bottom: 20px;
}

.p-right-align
{
	text-align:right;
}
.p-left-align
{
	text-align:left;
}

td
{
	padding: 10px;
	text-align: justify-all;
}
.td-small
{
	font-size: 20px;
}
.td-big
{
	font-size: 30px;
}