<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
    <title>Admin Home</title>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin_home.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="black-bg left-container">
            <h1 class="logo-left">Test</h1>
            <div class="left-inner-container">
                <a href="adminlogin"><button class="btn btn-ad">Log Out</button></a>
                <p class="p-left p-small"> Welcome to the admin dashboard.</p>
                <p class="p-left p-big"> Add new test here. </p>
                <p class="p-left p-big">Test Name:<input size="15" id="new_name" type="text" value=""/></p>
                <p class="p-left p-big p-bottom">Test Duration:<td><input size="15" id="dur" type="text" value=""/></td>
                <button class="add_new btn btn-ad btn-space" type="submit">Add Test</button>
            </div>
        </div>
        <div class="white-bg right-container">
            <h1 class="logo-right">eract</h1>
            <div class="right-inner-container">
                <table>
                    <tr>
                        <td class="td-big">Test Name</td>
                        <td class="td-big">Test Duration</td>
                        <td class="td-big">Test Status</td>
                        <td class="td-big" colspan="3">Options</td>
                    </tr>
                    {% for test in tests %}
                        <tr>
                            <td><span class="test_name td-small">{{ test['name'] }}</span> <button class="edit_name btn btn-table1">edit</button></td>
                            <td><span class="duration td-small">{{ test['duration'] }}</span> Mins <button href="" class="edit_dur btn btn-table1">edit</button></td>
                            <td>
                                <span class="active_status td-small">
                                {% if test['status'] == 'enabled' %}Enabled{% endif %}
                                {% if test['status'] == 'disabled' %}Disabled{% endif %}
                                </span>
                                {% if test['status'] == 'enabled' %}
                                    <button class="toggle btn-table3">DISABLE</button>
                                {% endif %}
                                {% if test['status'] == 'disabled' %}
                                    <button class="toggle btn-table2">ENABLE</button>
                                {% endif %}
                            </td>
                            <td><button class="test_url btn btn-table4" href="/admin/{{ test['url'] }}">Edit Questions</a></td>
                            <td><button class="test_res btn btn-table4" href = "/admin/{{ test['url'] }}/result">Check results</a> </td>
                            <td><button class="del_test btn btn-table4">Delete Test</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>