<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testeract Home</title>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
</head>
<body>
    <a href="adminlogin"><button>Go To Login</button></a>
    <br>
    {% for test in tests %}
        {% if test['status'] == 'enabled' %}
            <button onclick="student_login({{ "\"" + test['url']+"\"" }})">{{ test['name'] }}</button>
        {% endif %}
    {% endfor %}
</body>
</html>